<!DOCTYPE html>

<html>

<head>
   <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
   {{>header}}
   <p>This site was created by Giovani Tilelli. It uses data from mapbox.com and weatherstack.com.</p>
   <img src="/img/giovaniqueixatilelli.jpg">
   {{>footer}}
</body>

</html>